---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#intro {
    font-size: $type-size-3
}

.intro-research-wrapper {
    position: relative;
    width:100%;
    overflow: hidden;
    margin-top: 4em;
    margin-bottom: 4em;
}
.background-research-wrapper {
    position: absolute;
    top: 0;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.background-research-wrapper img {
    display: grid;
    object-fit: fill;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.research-excerpt-wrapper {
    position: relative;
    padding: 2em 1em 2em 1em;
}
.research-excerpt {
    position: relative;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    padding: 3em 2em 2em 2em;
    max-width: 700px;
    border-radius: 20px;
}

.header-link .sr-only {
    display: none;
}